---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="Nicolas Terwagne | A propos" description="About Nicolas Terwagne">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="À propos"
				tagline="Lisez ci-dessous pour en savoir plus sur moi et mon parcours."
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Moi-même en train de discuter d'un projet avec un collègue"
				/>
			</Hero>
		
			<section>
				<h2 class="section-title">Mon parcours</h2>
				<div class="content">
					<p>
						J'ai commencé ma carrière professionnelle en rejoignant la Légion étrangère. Après cela, j'ai travaillé comme préparateur de commande, mais j'ai rapidement réalisé que je cherchais quelque chose de plus stimulant et de plus créatif. J'ai donc décidé de me reconvertir dans le développement web et web mobile.
					</p>
					<br>
					<p>
						Aujourd'hui, le développement est devenu ma passion et je passe mon temps libre à faire de la veille ou à développer de nouveaux projets. j'ai acquis des compétences en HTML/CSS, PHP et JavaScript, et je découvre actuellement Python. J'ai l'intention de suivre une formation en DATA par la suite pour continuer à élargir mes compétences et contribuer à des projets ambitieux.
					</p>
					<br>
					<p>
						J'ai toujours été passionné par la technologie et son impact sur le monde. Mon objectif est de créer des produits numériques innovants qui répondent aux besoins des utilisateurs.
					</p>
				</div>
			</section>
			
			<section>
				<h2 class="section-title">Formation</h2>
				<div class="content">
					<p>Je suis actuellement en formation de développement web et web mobile chez Avenir84.</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Compétences</h2>
				<div class="content">
					<p>J'ai des connaissances dans les langages HTML/CSS, PHP et JavaScript pour la création de sites web et d'applications mobiles.</p>
				</div>
			</section>
		</main>
		

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
